.productPreview {
  width: 100%;
}
.colorOptions {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.colorOptionsActive {
  border: 2px solid teal;
  border-radius: 5px;
}
.optionContainer {
  display: flex;
  gap: 10px;
}
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
