.productPreview {
  width: 100%;
}
.colorOptions {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.optionContainer {
  display: flex;
}
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
